@page
@model IndexModel
@{
    ViewData["Title"] = "English Conversation Teacher";
}

<div class="text-center">
    <h1 class="display-4">English Conversation Teacher</h1>
</div>

<div class="talk">
    @if (Model.Messages is not null) {
        @foreach (var message in Model.Messages) {
            @if (message.Owner == "User") {
                <div class="talk_right">
<svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 32px; height: 32px; opacity: 1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#4B4B4B;}
</style>
<g>
	<path class="st0" d="M442.096,402.156c-12.565-18.819-31.657-29.234-49.595-35.991c-8.994-3.387-17.794-5.884-25.54-8
		c-7.733-2.109-14.46-3.881-18.98-5.579c-7.902-2.941-16.256-6.748-22.082-10.836c-2.908-2.035-5.154-4.119-6.452-5.907
		c-1.314-1.822-1.673-3.082-1.685-4.178c0-7.605,0-17.105,0-29.622c10.11-11.256,24.641-28.691,30.61-56.335
		c2.085-0.939,4.149-2.002,6.138-3.386c4.944-3.411,9.142-8.372,12.697-15.112c3.58-6.774,6.748-15.425,10.135-27.266
		c1.714-5.998,2.505-11.214,2.505-15.862c0.004-5.348-1.096-9.994-3.119-13.76c-2.69-5.076-6.834-8.067-10.53-9.706
		C382.717,71.43,330.564,3.518,261.379,6.979C197.978-7.111,157.471-3.593,152.186,52.766c-4.986,11.215-5.303,27.966,1.322,45.772
		c-3.914,13.892-5.034,26.449-5.05,34.705c0,9.484,0,19.866,0,26.367c-1.706,0.544-3.514,1.253-5.435,2.422
		c-2.855,1.756-5.735,4.507-7.746,8.29c-2.022,3.766-3.13,8.412-3.123,13.76c0.009,4.647,0.8,9.863,2.51,15.862
		c4.528,15.763,8.614,25.947,13.904,33.42c2.641,3.708,5.657,6.682,8.932,8.957c1.986,1.384,4.05,2.447,6.135,3.386
		c5.97,27.644,20.501,45.08,30.615,56.335c0,12.516,0,22.017,0,29.622c0,0.932-0.37,2.282-1.825,4.211
		c-2.126,2.858-6.534,6.328-11.77,9.261c-5.22,2.975-11.227,5.545-16.483,7.4c-6.168,2.184-16.109,4.466-27.249,7.654
		c-16.735,4.845-36.522,11.816-52.619,25.617c-8.038,6.905-15.095,15.573-20.055,26.343c-4.965,10.77-7.816,23.566-7.807,38.529
		c0,3.477,0.153,7.07,0.47,10.786c0.226,2.604,1.215,4.713,2.377,6.461c2.216,3.263,5.154,5.677,8.833,8.156
		c6.447,4.268,15.375,8.438,26.812,12.525c34.216,12.203,90.868,23.376,161.074,23.393c57.036,0,105.181-7.4,139.54-16.702
		c17.192-4.656,30.912-9.764,40.832-14.864c4.976-2.562,8.989-5.1,12.178-7.877c1.599-1.409,2.991-2.876,4.17-4.63
		c1.153-1.748,2.15-3.857,2.372-6.461c0.313-3.707,0.462-7.292,0.462-10.752C455.593,430.756,450.468,414.672,442.096,402.156z
		 M194.422,354.786c3.914-2.735,7.498-5.809,10.345-9.542c2.814-3.691,4.972-8.306,4.972-13.579c0-8.223,0-18.498,0-32.58v-2.974
		l-1.985-2.216c-10.568-11.767-24.876-27.389-29.836-55.157l-0.787-4.441l-4.236-1.508c-2.698-0.964-4.754-1.953-6.55-3.197
		c-2.65-1.871-5.052-4.425-7.857-9.649c-2.772-5.199-5.71-12.978-8.924-24.249c-1.409-4.928-1.912-8.768-1.912-11.61
		c0.008-3.296,0.638-5.232,1.286-6.46c0.976-1.763,2.175-2.521,3.696-3.131c1.425-0.544,2.946-0.635,3.243-0.635l8.074,0.512v-8.249
		c0,0,0-17.616,0-32.876c-0.012-3.436,0.28-8.025,0.948-13.191c17.921,25.592,51.906,49.726,108.806,59.515
		c-7.045-12.327-21.135-75.731-21.135-75.731s38.068,55.585,95.49,61.419c0,0.552,0,0.865,0,0.865v8.174l8.026-0.429
		c0.288-0.041,2.998,0.173,4.705,1.318c0.89,0.569,1.61,1.228,2.27,2.439c0.656,1.228,1.282,3.156,1.293,6.46
		c0,2.851-0.502,6.682-1.911,11.61c-4.273,15.054-8.104,23.804-11.618,28.658c-1.764,2.456-3.37,3.988-5.162,5.241
		c-1.792,1.244-3.852,2.232-6.546,3.197l-4.239,1.508l-0.783,4.441c-4.96,27.768-19.269,43.39-29.836,55.157l-1.989,2.216v2.974
		c0,14.082,0,24.356,0,32.58c-0.013,5.109,1.972,9.699,4.692,13.365c4.128,5.529,9.851,9.624,16.084,13.201
		c2.95,1.68,6.047,3.188,9.158,4.598l-29.824,29.745c-12.24,6.814-28.122,11.074-45.61,11.066
		c-17.254,0.008-32.938-4.153-45.1-10.803l-30.603-30.512C185.648,360.174,190.236,357.678,194.422,354.786z M439.691,459.472
		l-0.676,0.79c-1.137,1.162-3.444,2.901-6.682,4.746c-11.428,6.592-33.977,14.692-64.25,20.855
		c-30.318,6.196-68.525,10.646-112.077,10.646c-55.676,0-102.634-7.276-135.49-16.166c-16.418-4.44-29.329-9.319-37.796-13.686
		c-4.219-2.168-7.329-4.236-9.047-5.752c-0.738-0.643-1.15-1.129-1.356-1.409c-0.243-3.057-0.379-6.006-0.379-8.816
		c0.029-17.385,4.28-30.091,10.848-40.054c9.834-14.889,25.613-24.002,42.105-30.206c8.206-3.098,16.508-5.455,24.13-7.498
		c7.638-2.052,14.543-3.75,20.294-5.776c0.144-0.057,0.309-0.116,0.457-0.173l80.288,80.066l2.352,2.727l3.955,4.59l87.176-86.93
		c7.536,2.695,16.904,4.886,27.163,7.886c16.006,4.622,33.692,11.123,46.859,22.428c6.6,5.652,12.137,12.442,16.109,20.995
		c3.955,8.552,6.394,18.943,6.394,31.978C440.07,453.498,439.921,456.431,439.691,459.472z" style="fill: rgb(75, 75, 75);"></path>
</g>
</svg>

                    <strong>You</strong>
                    <p>@Html.Raw(Html.Encode(message.Content).Replace("&#xA;", "<br>"))</p>
                </div>
            } else {
                <div class="talk_left">
					<svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 32px; height: 32px; opacity: 1;" xml:space="preserve">
			<style type="text/css">
				.st0 {
					fill: #4B4B4B;
				}
			</style>
			<g>
					<path class="st0" d="M434.414,406.685c-12.05-18.045-30.352-28.017-47.552-34.507c-8.62-3.244-17.056-5.632-24.482-7.663
		c-7.413-2.018-13.864-3.72-18.197-5.356c-7.572-2.81-15.585-6.463-21.171-10.381c-2.79-1.952-4.94-3.957-6.186-5.659
		c-0.495-0.686-0.752-1.24-1.003-1.781h6.543l0.679,0.607c2.901,2.566,9.115,6.952,23.031,12.155
		c3.984,1.484,9.247,2.902,14.787,4.393c11.687,3.172,27.351,7.492,42.276,14.991c2.368-4.122,3.918-8.85,4.795-14.114
		c4.729-27.892-9.114-71.389-20.327-127.508c-6.074-30.596-11.41-64.971-12.492-102.591c0.132-5.131,0-10.269-0.27-15.4
		C371.132,53.768,336.48-5.056,243.215,0.346c-77.33,4.459-110.558,70.036-113.327,124.534l-0.469,0.27
		c-0.27,14.728-1.016,28.908-2.097,42.48c-1.55,19.252-3.648,37.416-6.074,54.438c-8.106,59.16-18.777,104.747-14.048,135.475
		c0.739,5.269,2.025,10.13,3.918,14.522c14.582-7.024,29.712-11.08,41.194-14.048c5.402-1.418,10.064-2.704,13.844-3.984
		c5.54-1.958,10.335-4.122,14.114-6.213c3.852-2.163,6.622-4.056,8.785-6.081l0.468-0.402h6.642c-0.263,0.541-0.6,1.122-1.114,1.807
		c-2.038,2.744-6.265,6.068-11.284,8.884c-5.006,2.849-10.764,5.31-15.802,7.091c-5.916,2.097-15.446,4.274-26.124,7.334
		c-16.047,4.643-35.008,11.331-50.448,24.561c-7.704,6.615-14.464,14.932-19.226,25.26c-4.762,10.316-7.492,22.583-7.486,36.934
		c0,3.331,0.145,6.78,0.442,10.341c0.224,2.494,1.174,4.525,2.289,6.2c2.123,3.113,4.94,5.434,8.468,7.815
		c6.18,4.089,14.74,8.079,25.702,12.011c32.805,11.7,87.124,22.41,154.423,22.424c54.682,0,100.836-7.097,133.78-16.014
		c16.482-4.472,29.64-9.365,39.15-14.246c4.761-2.466,8.614-4.894,11.667-7.558c1.53-1.346,2.869-2.757,3.997-4.432
		c1.114-1.675,2.065-3.706,2.282-6.2c0.296-3.561,0.442-6.997,0.442-10.315C447.347,434.109,442.434,418.689,434.414,406.685z
		 M181.139,250.02l-0.752-4.261l-4.063-1.445c-2.585-0.923-4.557-1.866-6.278-3.06c-2.54-1.794-4.841-4.241-7.532-9.253
		c-2.658-4.986-5.474-12.439-8.554-23.256c-1.352-4.722-1.834-8.395-1.834-11.126c0-1.642,0.172-2.922,0.416-3.944
		c3.885,2.612,8.204,4.241,13.006,4.551c23.638-81.044,148.58-57.406,145.203-87.798c16.884,40.522,13.507,71.724,36.334,86.109
		c2.269-2.711,4.36-5.586,6.365-8.554c0.936,0.172,2.104,0.494,3.014,1.102c0.851,0.547,1.543,1.18,2.183,2.342
		c0.62,1.174,1.227,3.02,1.234,6.186c0,2.73-0.482,6.404-1.834,11.139c-4.096,14.424-7.77,22.82-11.14,27.476
		c-1.688,2.354-3.232,3.819-4.947,5.026c-1.721,1.194-3.693,2.137-6.279,3.06l-4.062,1.445l-0.752,4.261
		c-4.755,26.619-18.474,41.596-28.604,52.881l-1.906,2.118v2.856c0,13.507,0,23.347,0,31.236c-0.014,4.405,1.57,8.389,3.792,11.707
		l-22.892,43.146l-27.918,41.881l-20.156-38.59l0.013-0.013l-0.969-1.82l-0.244-0.476l-23.77-44.808
		c1.998-3.166,3.436-6.872,3.436-11.027c0-7.888,0-17.728,0-31.236v-2.856l-1.906-2.118
		C199.613,291.616,185.895,276.638,181.139,250.02z M185.743,367.746c3.858-1.886,7.696-4.023,11.218-6.47
		c2.38-1.669,4.55-3.542,6.575-5.547l21.244,40.06l-49.992,45.666L185.743,367.746z M257.85,497.12
		c-0.62,0.007-1.22,0.027-1.846,0.027c-15.974,0-31.09-0.686-45.429-1.788v-7.855l-1.081-68.605l18.533-16.937l29.824,57.116V497.12
		z M302.666,487.504v7.809c-12.07,0.95-24.806,1.537-38.062,1.728V457.41l-7.696-14.741l27.331-40.997l19.489,18.724
		L302.666,487.504z M287.905,395.843l20.954-39.507c3.344,3.179,7.241,5.844,11.416,8.244c2.17,1.227,4.459,2.296,6.734,3.377
		l13.56,78.472L287.905,395.843z" style="fill: rgb(75, 75, 75);"></path>
					<path class="st0" d="M242.793,477.658c3.034,0,5.487-2.454,5.487-5.487s-2.453-5.487-5.487-5.487c-3.034,0-5.487,2.454-5.487,5.487
		S239.759,477.658,242.793,477.658z" style="fill: rgb(75, 75, 75);"></path>
			</g>
			</svg>                    <strong>Teacher</strong>
                    <p>@Html.Raw(Html.Encode(message.Content).Replace("&#xA;", "<br>"))</p>
                </div>
            }
            <br><br><br><br>
        }
    }
</div>

<form method="post">
    <div class="mb-3">
        <label for="userMessage" class="form-label">Your message</label>
        <input type="text" class="form-control" id="userMessage" asp-for="UserMessage">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>